li {
  width: 300px;
  padding: 10px 10px;
  margin-bottom: 10px;
  background-color: #dadfe1;
  box-shadow: 3px 5px 2px #6c7a89;
  border-radius: 10px;
  list-style: none;
}
button {
  width: 70px;
  height: 30px;
  margin: 0 5px;
  border-radius: 10px;
}

.todo-in-the-list {
  width: 130px;
  display: inline-block;
  text-align: left;
  overflow-wrap: break-word;
  padding-right: 5px;
  padding-left: 5px;
}
